@import '../common/variables';
@import '../common/extends';


header {
  display: grid;
  grid-template-columns: 35% 30% 15% 20%;
  padding-top: 45px;
  margin-bottom: 30px;
  @extend %alignmentPadding;
  ul {
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    @extend %commonFont;
    display: inline;
    padding-right: 30px;
    a {
      color: $color-black;
      line-height: 34px;
      text-decoration: none;
      cursor: pointer;
    }

    a:hover {
      text-decoration: none;
      color: $color-red;
    }
  }

  span {
    display: inline-block;
    margin-left: 50px;
    @media #{$mobile-only} {
      margin: 0px;
      margin-left: 10px;
      margin-top: 10px;
      padding-left: 15%;
      padding-right: 0%;
    }
    img {
      padding: 0px 35px;
      cursor: pointer;
      @media #{$mobile-only} {
        padding: 0px 10px;
        text-align: right;
      }
    }

  }

  @media #{$mobile-only} {
    max-width: $mobile-width;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 30px;
    padding-right: 0px;
  }
}

.noMobileDisplay {
  @extend %noMobileDisplay;
  @media #{$mobile-only} {
    display: none;
  }
}

.noDesktopDisplay {
  @extend %noDesktopDisplay;
  @media #{$mobile-only} {
    float: right;
    margin-top: 0px;
    padding-right: 0px;
    margin-right: 0;
  }
}

.hideMenu {
  display: none;
}

.showMenu {
  transition: width 2s, height 2s, background-color 2s, transform 2s;
  ul {
    text-align: center;
    list-style-type: none;
    margin: 5px auto 20px;
    padding-left: 20px;
  }

  li {
    @extend %commonFont;
    display: inline;
    padding-right: 20px;
    a {
      color: $color-black;
      line-height: 34px;
      text-decoration: none;
      cursor: pointer;
    }

    a:hover {
      text-decoration: none;
      color: $color-red;
    }
  }
}

/* NAVIGATION DRAWER */

