
<header class="header">
  <div>
    <logo></logo>
  </div>
  <div>
    <ul>
      <li><a routerLink="/login">About Us</a></li>
      <li><a routerLink="/admin">FAQ</a></li>
      <li><a routerLink="/login">Register</a></li>
    </ul>
  </div>
  <div>
    <linkbutton [linkUrl]="contactLink.linkUrl" [description]="contactLink.description"></linkbutton>
    <span>
      <img src="../../assets/icons/search.svg" alt="search"  />
      <img src="../../assets/icons/user.svg" alt="user"  />
    </span>

  </div>
</header>
