
<header class="header">
  <div>
    <logo></logo>
  </div>
  <div>
    <ul>
      <li><a routerLink="/about">About Us</a></li>
      <li><a routerLink="/faq">FAQ</a></li>
      <li><a routerLink="/register">Register</a></li>
    </ul>
  </div>
  <div>
    <linkbutton [linkUrl]="contactLink.linkUrl" [description]="contactLink.description"></linkbutton>
    <span>
      <img src="../../assets/icons/search.svg" alt="search" />
      <a (click)="profileLoginToggle()"><img src="../../assets/icons/user.svg" alt="user" /></a>
    </span>

  </div>
</header>
