<app-header></app-header>
  <section class="wrapper">


    <h1>{{title | titlecase}}</h1>
    <p>{{description}}</p>

    <p class="smallPadding">
      <input placeholder="search" type="text">
      <input type="button" value="Search" />
      <select>
        <option value=""></option>
        <option value="1">Season One</option>
        <option value="2">Season Two</option>
      </select>

    </p>

    <section *ngIf="taskId === ''">
      <div *ngFor="let task of tasks">
        <a [routerLink]="'/tasks/'+task.taskid"><img [src]="getTaskImageUrl(task?.filename)" [alt]="task.title" loading="lazy"></a>
        <h3>{{ task?.title | titlecase }}</h3>
        <h4>{{ task?.description.substr(0, 30) + '...' | titlecase }}</h4>
      </div>
    </section>

    <section *ngIf="taskId !== ''">
      <div *ngFor="let selfie of taskSelfies">
        <a [routerLink]="'/public/'+selfie.username"><img [src]="getSelfieImageUrl(selfie?.filename)" [alt]="selfie.username" loading="lazy"></a>
        <h3>{{ selfie.username }}</h3>
        <h4>{{ selfie.datetime }}</h4>
      </div>

      <app-no-data *ngIf="taskSelfies?.length === 0" [message]="'no selfies taken for this task yet'"></app-no-data>
    </section>

  </section>

<app-footer></app-footer>
