@import '../common/extends';
@import '../common/variables';


section {
  background: rgba(243, 243, 250, 0.5);
  padding: 30px 100px 25px 140px;

  h1 {
    @include fontDetails('Aileron', 69px, $dark-blue, center);
    @include fontSize(bold, 51.88px);
    margin-bottom: 0px;
  }

  p {
    @include fontDetails('Open Sans', 28px, $dark-blue, center);
    @include fontSize(normal, 21.25px);
    padding: 0% 26% 5%;
  }

  div {
    display: inline-block;
    Width: 350px;
    Height: 378px;
    border: 1px solid $light-grey;
    border-radius: 4px;
    background: $color-white;
    box-shadow: rgba(88, 88, 88, 0.1) 0px 2px 8px 0px;
    margin: 0px 25px 25px 0px;
  }
}



