<section *ngIf="isCriteria" class="criteriaSection">
  <h2>Criteria for entry</h2>
  <div class="criteria">
    <div>
      <h3>01</h3>
      <p>Participation is open to both male and female aged 16 and above</p>
    </div>
    <div>
      <h3>02</h3>
      <p>All entrants must purchase the form via the dedecated website.</p>
    </div>
    <div>
      <h3>03</h3>
      <p>All entrants must purchaTask are to be submitted in form of pictures only (Jpeg or PNG not more than 1mb).</p>

    </div>
    <div>
      <h3>04</h3>
      <p>Contestant are to follow Goselfie on all social media platforms.</p>
    </div>
    <div class="noBorder">
      <h3>05</h3>
      <p>Participation is open to everyone from any part of the country</p>
    </div>
  </div>

</section>

<section *ngIf="!isCriteria" class="ethicsSection">
  <h2 >Goselfie ethics</h2>
  <div class="criteria ethics">
    <div>
      <h3>01</h3>
      <p>You don't need to be photogenic to participate in Goselfie tasks.</p>
    </div>
    <div>
      <h3>02</h3>
      <p>You don't need a high end smart phone to participate in Goselfie tasks.</p>
    </div>
    <div>
      <h3>03</h3>
      <p>You don't need an hour glass shape to participate in the Goselfie task.</p>

    </div>
    <div>
      <h3>04</h3>
      <p>You don't need to be a social media influencer to participate in the Goselfie tasks.</p>
    </div>
  </div>
</section>

