<section *ngIf="isCriteria" class="criteriaSection">

  <h2>Criteria for entry</h2>

  <div class="criteria">
    <div *ngFor="let criterion of entryCriteria" [class]="criterion.id === '05' ? 'noBorder' : '' ">
      <h3>{{criterion.id}}</h3>
      <p>{{criterion.criterion}}</p>
    </div>
  </div>

  <div class="criteriaMobile">
    <div class="criterion" *ngFor="let criterion of entryCriteria">
      <div><h3>{{criterion.id}}</h3></div>
      <div><p>{{criterion.criterion}}</p></div>
    </div>
  </div>

</section>

<section *ngIf="!isCriteria" class="ethicsSection">
  <h2 >Goselfie ethics</h2>
  <div class="criteria ethics">
    <div *ngFor="let ethic of ethics">
      <h3>{{ethic.id}}</h3>
      <p>{{ethic.criterion}}</p>
    </div>
  </div>

  <div class="criteriaMobile">
    <div class="criterion" *ngFor="let criterion of ethics">
      <div><h3>{{criterion.id}}</h3></div>
      <div><p>{{criterion.criterion}}</p></div>
    </div>
  </div>
</section>

