@import '../common/variables';
@import '../common/extends';

%sectionalHeader {
  font-family: 'Aileron';
  line-height: 69px;
  text-align: left;
  @include fontSize(bold, 51.88px);
  color: $dark-blue;
}

.criteriaSection {

  padding: 3% 5% 5% 6%;

  h2 {
    @extend %sectionalHeader;
  }
}

.ethicsSection {

  padding: 3% 5% 5% 6%;

  h2 {
    @extend %sectionalHeader;
  }
}

.criteria {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  background: $light-grey;
  border-radius: 10px;
  padding: 60px 5px;

  h3 {
    font-family: 'Aileron';
    @include fontSize(bold, 64.8px);
    color: $dark-blue;
    opacity: 0.5;
    margin: 0px;
  }

  p {
    font-family: 'Open Sans';
    @include fontSize(normal, 17px);
    color: $dark-blue;
    margin-top: 0px;
  }

  div {
    border-right: 1px solid rgba(77, 77, 77, 0.3);
    padding: 0px 35px;
  }
}

.ethics {
  grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
  grid-gap: 1%;
  background: $color-white;
  padding: 0px 5px 50px;
  div {
    border-right: none !important;
    margin-right: 20px !important;
    background: $light-grey;
    padding: 50px 35px;
    border-radius: 10px;
  }
}

.noBorder {
  border: none !important;
}

