@import '../common/variables';
@import '../common/extends';

section {
  display: grid;
  grid-template-columns: 55% 40%;
  grid-column-gap: 2%;
  @media #{$mobile-only} {
    display: block;
    padding: 20px;
  }
  padding: 70px;
  background: $light-grey;
  margin: 0;

  img {
    max-width: 90%;
    height: auto;
    float: right
  }

  h2 {
    @extend %AileronFont;
    @include fontSize(bold, 51.88px);
    padding: 0% 10%;
    margin: 4% 0% 0%;
  }

  p {
    @extend %commonFont;
    @include fontSize(normal, 17px);
    padding: 0% 10%;

    @media #{$mobile-only} {
      padding: 1%;
    }
  }
}

.isWhiteBackground {
  background-color: $color-white !important;
}

.imageRight {
  grid-template-columns: 40% 55% !important;
}


