<section *ngIf="isImageLeft && !isHomePage" [class]="isGreyBackground ? '' : 'isWhiteBackground'" >
  <div>
    <img [src]="imageSource" alt="About Goselfie" loading="lazy" />
  </div>
  <div>
    <h2>{{ title }}</h2>

    <p *ngFor="let body of content">
     {{ body }}
    </p>

  </div>
</section>

<section *ngIf="!isImageLeft && !isHomePage" [class]="!isImageLeft ? 'imageRight' : ''">
  <div>
    <h2>{{ title }}</h2>

    <p *ngFor="let body of content">
     {{ body }}
    </p>

  </div>

  <div>
    <img [src]="imageSource" alt="Goselfie Mission" loading="lazy" />
  </div>
</section>

<section *ngIf="isHomePage" class="homePage">
  <div>
    <h2>{{ title }}</h2>

    <p *ngFor="let body of content">
     {{ body }}
    </p>

  </div>

  <div class="mission">

  </div>
</section>

