@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@font-face {
  font-family: "Aileron";
  src: url("../../assets/fonts/aileron/Aileron-Bold.otf");
}

@font-face {
  font-family: "Merriweather";
  src: url("../../assets/fonts/Merriweather/Merriweather-Black.ttf");
}

%AileronFont {
  font-family: 'Aileron';
  font-style: normal;
  line-height: 72px;
}

%commonFont {
  font-family: Open Sans;
  font-style: normal;
  font-size: 16px;
}

%alignmentPadding {
  padding: 0px 70px;
}

@mixin fontSize($weight, $size) {
  font-weight: $weight;
  font-size: $size;
}
