@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@font-face {
  font-family: "Aileron";
  src: url("../../assets/fonts/aileron/Aileron-Bold.otf");
}

@font-face {
  font-family: "Merriweather";
  src: url("../../assets/fonts/Merriweather/Merriweather-Black.ttf");
}

%buttonStyle {
  background: $color-red;
  border-radius: 4px;
  padding: 12px 24px ;
  font-size: 16px;
  color: $color-white;
  cursor: pointer;
  font-weight: bold;
  width: auto;
  height: 48px;
  font-family: Open Sans;
  font-style: normal;
  font-size: 16px;
}

%taskHighLightImage {
  width: 220px !important;
  height: 220px !important;
  display: block;
  border-radius: 50%;
  margin-top: 11% !important;
  margin: auto;
  transition: .5s ease;
}

%AileronFont {
  font-family: 'Aileron';
  font-style: normal;
  line-height: 72px;
}

%commonFont {
  font-family: Open Sans;
  font-style: normal;
  font-size: 16px;
}

%alignmentPadding {
  padding: 0px 70px;
}

%noticeBox {
  background: $color-white;
  border: 1px solid $color-orange;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 30px 65px;
}

@mixin fontSize($weight, $size) {
  font-weight: $weight;
  font-size: $size;
}

@mixin fontDetails($family, $lineHeight, $color, $alignment: left) {
  color: $color;
  font-family: $family;
  line-height: $lineHeight;
  text-align: $alignment;
}

@mixin fontColorLineHeight($lineHeight, $color: $color-black) {
  color: $color;
  line-height: $lineHeight;
}


%noticeBox {
  background: $color-white;
  border: 1px solid $color-orange;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 30px;

  p {
    @include fontDetails('Open sans', 25px, $dark-blue, center );
  }
}

/* Form Styles */

form {
  max-width: 950px;
  margin: 10px auto;
  padding: 0% 2%;

  p {
    @include fontDetails('Open Sans', 25px, $dark-blue);
    @include fontSize(normal, 17px);
    margin-bottom: 100px;
  }
}

input, textarea, select {
  display: block;
  width: 100%;
  background: $color-white;
  border: 1px solid $color-grey;
  box-sizing: border-box;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 5px 15px;
  height: 48px;
  margin: 15px 0px 35px;

  ::placeholder{
    color: $light-grey;
  }
}

textarea {
  height: 143px !important;
}

.option {
  height: 48px;
  padding: 5px 15px;
}

label {
  @include fontDetails('Open Sans', 24px, $black-label);
  @include fontSize(600, 16px);
}

button {
  @extend %buttonStyle;
}

input[type='submit'] {
  @extend %buttonStyle;
}

.displayItem {
  display: block;
}


.hideItem {
  display: none;
}

.errors {
  padding: 20px;
  background-color: $light-grey;
  p {
    @include fontDetails('Open Sans', 20px, $color-red);
    @include fontSize(normal, 16px);
    font-style: italic;
    margin: 0;
    padding: 0;
  }
}


