<app-header></app-header>

<section>
  <div class="loginForm">
    <h1>Login</h1>
    <form #f="ngForm" (ngSubmit)="signIn(f)">
      <p>Note that username and password are case sensitive</p>
      <div *ngIf="invalidLogin" class="errors"><p>{{ loginError }}</p></div>
      <label for="username" >Email / username</label>
      <input type="text" id="username" ngModel name="username" #email = "ngModel" placeholder="e.g. ciroma@gmail.com" required autofocus>
      <label for="password" >Password</label>
      <input type="password" id="password" name="password" ngModel placeholder="Password" required>
      <input type="submit" value="Submit">
    </form>
  </div>
</section>




<app-footer></app-footer>
