
@import '../common/variables';
@import '../common/extends';


section {
  .loginForm {
    @extend %noticeBox;
    padding: 70px 90px;
    max-width: 671px;
    margin: 100px auto ;
    h1 {
      @include fontDetails('Aileron', 69px, $dark-blue, center);
      @include fontSize(bold, 31.88px);
      margin: 0;
    }

    p {
      @include fontDetails('Open Sans', 25px, $dark-blue, center);
      @include fontSize(normal, 17px);
      margin-bottom: 50px;
    }
  }

  .cantLogin {
    margin: 0 0 70px;
    p {
      @include fontDetails('Open Sans', 18px, $dark-blue, center);
      @include fontSize(normal, 16px);
      opacity: 0.7;

      a {
        text-decoration: none;

      }
      a:hover {
        font-weight: bold;
      }
    }
  }
}
