@import '../common/variables';
@import '../common/extends';

section {

  background: $light-grey;
  padding: 3% 5% 5% 6%;



  h2 {
    @include fontDetails('Aileron', 69px, $dark-blue, center);
    @include fontSize(bold, 51.88px);

    @media #{$mobile-only} {
      @include fontDetails('Aileron', 43px, $dark-blue, center);
      @include fontSize(bold, 36px);
    }
  }
}

.instagramBtn {
  display: inline-block;
  margin-top: 10px;
  width: 219px;
  height: 48px;
  background: #BF271C;
  border-radius: 4px;
  padding: 10px 6px 0px;

  @media #{$mobile-only} {
    padding: 7px 3px 20px;
    height: 24px;
    width: 180px;
    margin-top: 20px;
  }

  a {
    @include fontDetails('Open Sans', 28px, $color-white, center);
    @include fontSize(bold, 23.25px);
    text-decoration: none;

    @media #{$mobile-only} {
      @include fontDetails('Open Sans', 20px, $color-white, center);
      @include fontSize(bold, 19.25px);
    }
  }

}

.imgInstagram {
  width: 22px !important;
  height: 22px !important;
  border-radius: 0px;

  @media #{$mobile-only} {
    width: 17px !important;
    height: 17px !important;
  }
}

.prizes {
  display: grid;
  grid-template-columns: 29% 29% 29%;
  grid-column-gap: 5%;

  @media #{$mobile-only} {
    display: block;

  }

  div {
    width: 350px;
    height: 380px;
    border: 1px solid $light-grey;
    border-radius: 4px;
    background: $color-white;
    padding: 15px 20px;

    @media #{$mobile-only} {
      display: block;
      max-width: 290px;
      margin: 20px auto;
      max-height: 335px;
    }

    img {
      z-index: 3;
      //padding: 0 5% 0 15%;
      margin-left: 21%;
      margin-top: 8px;
      width: 200px;
      height: auto;
      border-radius: 50%;
      @media #{$mobile-only} {
        width: 160px;

      }
    }

    p {
      width: 100%;
      height: 240px;
      background: $color-grey;
      border-radius: 10px;
      margin-top: -80px;
      text-align: center;

      span {
        display: inline-block;

      }
    }
  }
}

.spanHead {
  margin-top: 25%;
  font-family: 'Aileron';
  @include fontSize(900, 25px);
  line-height: 42px;
  @media #{$mobile-only} {
    margin-top: 28%;
    @include fontDetails('Aileron', 35px, $dark-blue);
    @include fontSize(bolder, 18.5px);
  }
}

.spanBody {
  margin-top: 0%;
  font-family: 'Aileron';
  @include fontSize(900, 30px);
  line-height: 25px;
  @media #{$mobile-only} {
    @include fontDetails('Aileron', 25px, $dark-blue);
    @include fontSize(900, 23.5px);
  }
}
