<section>
  <h2>Past Winners</h2>

  <div class="prizes">
    <div>
      <img src="../../assets/images/eniade.png" alt="eniade">
      <p>
        <span class="spanHead">₦15 million</span><br>
        <span class="spanBody">Worth of Prizes</span>
      </p>
    </div>
    <div>
      <img src="../../assets/images/alice.png" alt="alice">
      <p>
        <span class="spanHead">₦5 million</span><br>
        <span class="spanBody">Worth of Prizes</span>
      </p>
    </div>
    <div>
      <img src="../../assets/images/chisglam.png" alt="third-prize">
      <p>
        <span class="spanHead">₦1 million</span><br>
        <span class="spanBody">Worth of Prizes</span>
        <span class="instagramBtn"> chisglam</span>
      </p>

    </div>
  </div>

</section>
