<section>
  <h2>Past Winners</h2>

  <div class="prizes">
    <div>
      <img src="../../assets/images/eniade.png" alt="eniade">
      <p>
        <span class="spanHead">GoSelfie Season 1</span><br>
        <span class="spanBody">Winner</span><br>
        <span class="instagramBtn"><span><img class="imgInstagram" src="../../assets/icons/instagram.svg" alt="third-prize"></span> &nbsp; <a href="https://instagram.com/eniadegold1?utm_medium=copy_link" target="_blank">EniadeGold</a></span>
      </p>
    </div>
    <div>
      <img src="../../assets/images/alice.png" alt="alice">
      <p>
        <span class="spanHead">GoSelfie Season 1</span><br>
        <span class="spanBody">1st Runner Up</span><br>
        <span class="instagramBtn"><span><img class="imgInstagram" src="../../assets/icons/instagram.svg" alt="third-prize"></span> &nbsp; <a href="https://instagram.com/alicebam1010?utm_medium=copy_link" target="_blank">Alicebam</a></span>
      </p>
    </div>
    <div>
      <img src="../../assets/images/chisglam.png" alt="third-prize">
      <p>
        <span class="spanHead">GoSelfie Season 1</span><br>
        <span class="spanBody">2nd Runner Up</span><br>
        <span class="instagramBtn"><span><img class="imgInstagram" src="../../assets/icons/instagram.svg" alt="third-prize"></span> &nbsp; <a href="https://instagram.com/the_prettychi?utm_medium=copy_link" target="_blank">chisglam</a></span>
      </p>

    </div>
  </div>

</section>


