<app-header></app-header>

<!-- body components here -->
  <app-page-headers [title]="pageTitle"></app-page-headers>
  <app-page-info [title]="pageInfo.title" [content]="pageInfo.content"></app-page-info>
  <entry-criteria [isCriteria]="false" ></entry-criteria>

  <app-about [imageSource]="aboutDetails.imageSource" [content]="aboutDetails.content" [title]="aboutDetails.title" [isImageLeft]="aboutDetails.isImageLeft"></app-about>

  <app-page-info [title]="howItWorks.title" [content]="howItWorks.content"></app-page-info>

  <app-about [imageSource]="visionStatement.imageSource" [content]="visionStatement.content" [title]="visionStatement.title" [isImageLeft]="visionStatement.isImageLeft" [isGreyBackground]="false"></app-about>

  <app-about [imageSource]="missionStatement.imageSource" [content]="missionStatement.content" [title]="missionStatement.title" [isImageLeft]="missionStatement.isImageLeft" [isGreyBackground]="false"></app-about>

<app-footer></app-footer>
