
@import '../common/_variables.scss';
@import '../common/extends';

$width: 210.68px;
$height: 229px;

.mobileGallery {
  display: none;
  @media #{$mobile-only} {
    display: block;
  }
}

.desktopGallery {
  //display: block;
  //@media #{$mobile-only} {
    //display: none;
  //}

  padding: 5% 4%;

  div {
    display: inline-block;
    max-width: $width;
    max-height: $height;
    margin: 4px 4px;
    padding: 0;

    @media #{$mobile-only} {
      width: 112px;
      height: 112px;
      margin: 0px;
    }

    img {
      width: $width !important;
      height: $height !important;

      @media #{$mobile-only} {
        width: 112px !important;
        height: 112px !important;
      }
    }
  }
}

h2 {
  @include fontDetails('Aileron', 29px, $dark-blue, center);
  @include fontSize(bold, 40.88px);
  margin-top: 10%;
  @media #{$mobile-only} {
    @include fontDetails('Aileron', 20px, $dark-blue, center);
    @include fontSize(bold, 30.88px);
    margin-top: 20%;
  }
}

div {
  width: 50%;
  margin: 20px auto;
  position: relative;
  img {
    width: 100%;
    height: auto;

  }

  @media #{$mobile-only} {
    width: 100%;

  }
}

