@import '../common/variables';
@import '../common/extends';

.container {
  max-width: 1440px;
  margin: 0;
  height: 586px;
  background-image: url("../../assets/images/girlselfie.png");

  div {
    max-width: 1440px;
    height: auto;
    margin: 0;
    background: rgba(9, 22, 56, 0.5);
    padding: 17.85% 49%;
  }

}



