<section>

  <div>
    <p><span>G </span> &nbsp; uaranteed</p>
    <p><span>O </span> &nbsp; outstanding</p>
    <p><span>S </span> &nbsp; killful</p>
    <p><span>E </span> &nbsp; ngaging</p>
    <p><span>L </span> &nbsp; egit</p>
    <p><span>F </span> &nbsp; lexible</p>
    <p><span>I </span> &nbsp; nteresting</p>
    <p><span>E </span> &nbsp; arn</p>
  </div>

  <div>
    <div class="nextBigThing">
      <div class="nextBigThingText">
        <h3>BE</h3>
        <p>THE NEXT</p>
        <h3>BIG</h3>
        <p>THING</p>
      </div>
    </div>
  </div>
</section>
