<app-header></app-header>

  <ambassador [isBrandPage] = "true" ></ambassador>

  <section>
    <h3>Achievments</h3>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices vel purus maecenas erat erat tincidunt condimentum aliquam. Diam mattis in bibendum  erat erat tincidunt condimentum aliquam. Diam mattis in bibendum erat erat tincidunt condimentum aliquam. Diam mattis in bibendum em ipsum dolor sit amet, consectetur adipiscing elit. Ultrices vel purus maecenas erat erat tincidunt condimem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices vel purus maecenas erat erat tincidunt condimentum aliquam. Diam mattis in bibendum  erat erat tincidunt condimentum aliquam. Diam mattis in bibendum erat erat tinci.


    </p>

    <p>
      Diam mattis in bibendum em ipsum dolor sit amet, consectetur adipiscing elit. Ultrices vel purus maecenas erat erat tincidunt condimem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices vel purus maecenas erat erat tincidunt condimentum aliquam. Diam mattis in bibendum  erat erat tincidunt condimentum aliquam. Diam mattis in bibendum erat erat tinci.
    </p>

    <div class="ambassadorImages">
      <div>
        <img class="bigImage" src="../../assets/images/funke1.png" alt="Goselfie Brand ambassador" />
      </div>
      <div>
        <img class="smallImages" src="../../assets/images/funke2.png" alt="Goselfie Brand ambassador" />
        <img class="smallImages" src="../../assets/images/funke3.png" alt="Goselfie Brand ambassador" />
        <img class="smallImages" src="../../assets/images/funke4.png" alt="Goselfie Brand ambassador" />
        <img class="smallImages" src="../../assets/images/funke5.png" alt="Goselfie Brand ambassador" />
      </div>
    </div>
  </section>

<app-footer></app-footer>
