@import '../common/variables';
@import '../common/extends';

section {
  background-color: $light-grey;
  padding: 60px 370px;

  @media #{$mobile-only} {
    padding: 40px 30px;
  }

  h2 {

    @include fontDetails('Aileron', 69px, $dark-blue, center);
    @include fontSize(bold, 51.88px);

    @media #{$mobile-only} {
      @include fontSize(bold, 36px);
      @include fontDetails('Aileron', 69px, $dark-blue, center);
    }
  }

  p {
    @include fontSize(normal, 18px);
    @include fontDetails('Open Sans', 25px, $dark-blue, center);

    @media #{$mobile-only} {
      @include fontSize(normal, 18px);
      @include fontDetails('Open Sans', 25px, $dark-blue, center);
    }
  }
}
