@import '../common/variables';
@import '../common/extends';

section {
  //margin-top: 0; //to be removed later
  display: grid;
  grid-template-columns: 50% 40%;
  grid-column-gap: 3%;
  @media #{$mobile-only} {
    display: block;
    padding: 10px 20px;
    margin-bottom: 10px;
  }
  padding: 70px;
  margin: 0;

  img {
    max-width: 90%;
    height: auto;
    float: right;
    @media #{$mobile-only} {
      display: block;
      max-width: 100%;
      margin-bottom: 10%;
    }
  }


  h2 {
    @extend %AileronFont;
    @include fontSize(900, 64.85px);
    padding: 0% 10%;
    margin: 14% 0% 0%;
    line-height: 72px;

    @media #{$mobile-only} {
      @include fontSize(bold, 36px);
      @include fontDetails('Aileron', 43px, $dark-blue);
      padding: 0% 5%;
    }
  }

  h3 {
    @extend %AileronFont;
    @include fontSize(bold, 41.504px);
    line-height: 46px;
    padding: 0% 10%;
    margin: 0;

    @media #{$mobile-only} {
      @include fontSize(bold, 25px);
      @include fontDetails('Aileron', 26px, $dark-blue);
      padding: 0% 5%;
    }
  }

  p {
    @extend %commonFont;
    @include fontSize(normal, 17px);
    padding: 0% 10%;

    @media #{$mobile-only} {
      @include fontSize(normal, 16px);
      @include fontDetails('Open Sans', 25px, $dark-blue);
      padding: 0% 5%;
      margin-bottom: 0;
    }
  }
}

.greyBg {
  background: rgba(243, 243, 250, 0.3);
}


