<section [class] = "!isBrandPage ? '' : 'greyBg'">
  <div>
    <br /><img src="../../assets/images/brand_ambassador.png" alt="Goselfie-Brand-ambassador" loading="lazy" />
  </div>
  <div>
    <h2>Funke
      Akindele</h2>

    <h3>
      Goselfie season 2 brand ambassador
    </h3>
    <p>
      Akindele Bello Olufunke is a Nigerian actress and producer. In 2009 she won the African Movie Academy Award for best actress in leading role. She plays the lead character in the show Jennifer Diary for which she is named best Actress in a comedy at the 2016 African Magic viewers choice award.
    </p><br />
    <p *ngIf="!isBrandPage"><linkbutton [description]="readMoreLink.description" [linkUrl]="readMoreLink.linkUrl"></linkbutton></p>
  </div>
</section>
