@import '../common/variables';
@import '../common/extends';

section {
  display: grid;
  grid-template-columns: 50% 40%;
  grid-column-gap: 3%;
  @media #{$mobile-only} {
    display: block;
    padding: 20px;
  }
  padding: 70px;
  margin: 0;

  img {
    max-width: 90%;
    height: auto;
    float: right
  }

  h2 {
    @extend %AileronFont;
    @include fontSize(900, 64.85px);
    padding: 0% 10%;
    margin: 14% 0% 0%;
    line-height: 72px;
  }

  h3 {
    @extend %AileronFont;
    @include fontSize(bold, 41.504px);
    line-height: 46px;
    padding: 0% 10%;
    margin: 4% 0% 0%;
  }

  p {
    @extend %commonFont;
    @include fontSize(normal, 17px);
    padding: 0% 10%;

    @media #{$mobile-only} {
      padding: 1%;
    }
  }
}


