@import '../../common/variables';

span {
  display: inline-block;
  background: $color-red;
  border-radius: 4px;
  padding: 10px 24px ;
  font-size: 16px;
  color: $color-white;
  cursor: pointer;
  font-weight: bold;
  height: 48px;
  font-family: Open Sans;
  font-style: normal;
  font-size: 16px;

}
