@import '../common/variables';
@import '../common/extends';


.profileLogoutSection {
  a {
    @include fontDetails('arial', 23px, $dark-blue, center);
    @include fontSize(bold, 14px);
    text-decoration: none;
    cursor: pointer;
  }
  text-align: center;
  margin-bottom: 50px;

}

.pageInfo {
  display: none;
  @media #{$mobile-only} {
    display: block;
    border-radius: 0px 0px 40px 40px !important;
    margin: 0;
    padding: 0;
  }
}
