/* You can add global styles to this file, and also import other style files */
/*@import "~bootstrap/dist/css/bootstrap.css"; */


body {
  padding: 0;
  align-content: center;
  max-width: 1440px;
  margin: auto;
}

