
<!-- <h1>Home Page</h1>
<p *ngIf="authService.isLoggedIn()">
  Welcome {{ authService.currentUser.first_name }}
</p>
<ul>
  <li *ngIf="authService.isLoggedIn() && authService.currentUser.class == 'admin'"><a routerLink="/admin">Admin</a></li>
  <li *ngIf="!authService.isLoggedIn()"><a routerLink="/login">Login</a></li>
  <li *ngIf="authService.isLoggedIn()"><a (click)="authService.logout()">Logout</a></li>
</ul> -->

<app-header></app-header>
<season-two></season-two>
<app-gallery></app-gallery>
<app-next-big-thing></app-next-big-thing>
<app-about [imageSource]="aboutDetails.imageSource" [content]="aboutDetails.content" [title]="aboutDetails.title" [isImageLeft]="aboutDetails.isImageLeft"></app-about>

<homevideo></homevideo>

<app-past-winners></app-past-winners>
<task-highlight></task-highlight>
<!-- <ambassador></ambassador> -->
<app-prizes></app-prizes>
<entry-criteria [entryCriteria]="entryCriteria"></entry-criteria>
<app-footer></app-footer>

