
<app-header></app-header>

<app-page-headers [title]="'Registration'"></app-page-headers>
<app-page-info [title]="'Get Started'" [content]="['Please read the procedure carefully before\<br > proceeding with registration']"></app-page-info>

<section>
  <div>
    <h4>Note: Registration costs N3,000 only</h4>
    <p>

      The registration process is seamless with online payment integrated. If you pay online, your account get activated immediately. If you choose to pay offline through bank deposit or other means. Make payment to the account below and screenshot of payment proof before filling the form After which you wait to be activated within 24 hours.

    </p>
  </div>
  <div class="alignText">

    <p>
      <br>
      Name NOTIME CONCEPTS ENTERPRISES NIG<br>
      Account number: 1011795417<br>
      Bank: KEYSTONE BANK


    </p>

    <h4>See frequestly asked questions for more info.</h4>
  </div>
</section>

<!-- Registration Form -->

<form action="">
  <div class="doubleInput">
    <div>
      <label>First Name</label>
      <input type="text" placeholder="First Name">

      <label>Gender</label>
      <input type="text">

      <label>Username</label>
      <input type="text">
    </div>

    <div>
      <label>Last Name</label>
      <input type="text">

      <label>Date of Birth</label>
      <input type="date">

      <label>Phone Number</label>
      <input type="text">
    </div>
  </div>
  <div class="singleInput">
    <label>Password</label>
    <input type="text">

    <label>Email Address</label>
    <input type="text">

    <label>Few words about you</label>
    <textarea rows="3"></textarea>

    <input type="submit" value="Register" >
  </div>

  <p>
    If online payment fails or is cancelled, the system saves already filled data. You need to make payment to the account details above. OR try again with another email address, phone number and username. After making payment, send proof of payment to accounts@goselfie.com.ng. Your account shall be activated once payment is confirmed.
  </p>
</form>


<app-footer></app-footer>
