<section  >
  <div class="profileImage">
    <img [src]="baseDomain + '/' + imageSource || '../../assets/images/profileimage.png'" [alt]="username" />
  </div>
  <div class="memberDetails">
    <h1>{{ username }}</h1>

    <p >
     {{ about }}
    </p>

    <p>
      <a [href]="instagramUrl || 'https://facebook.com'" target="_blank"><img src="../../assets/icons/instagramblack.svg" [alt]="username + ' instagram page'"></a>&nbsp;&nbsp;
      <a [href]="twitterUrl || 'https://twitter.com'" target="_blank"><img src="../../assets/icons/twitterblack.svg" [alt]="username + ' twitter handle'"></a>&nbsp;&nbsp;
      <a [href]="facebookUrl || 'https://instagram.com'" target="_blank"><img src="../../assets/icons/facebookblack.svg" [alt]="username + ' facebook page'"></a>&nbsp;&nbsp;
    </p><br >

    <linkbutton *ngIf="isLoggedIn" [description]="'Upload New Task'" [linkUrl]="'/selfie/' + taskid"></linkbutton>

  </div>
</section>
