@import '../common/variables';
@import '../common/extends';

section {

  display: grid;
  grid-template-columns: 40% 40%;
  grid-gap: 10%;
  background: rgba(243, 243, 250, 0.5);
  padding: 5% 10%;

  @media #{$mobile-only} {
    display: block;
  }

  a {
    cursor: pointer;

  }

  .profileImage {

    @media #{$mobile-only} {
      display: block;
      padding: 20px 10px 20px 10px;

    }
    img {
      float: right;
      max-width: 368px !important;
      max-height: 400px !important;


      @media #{$mobile-only} {
        display: inline-block;
        max-width: 368px !important;
        max-height: auto !important;
        border-radius: 12px;
        text-align: center;
        margin: 0% 10% 15% 15%;
      }
    }

    .memberDetails {
      img {
        display: inline-block;
        width: 16px !important;
        height: 16px !important;
        margin-bottom: 20px;
      }
      p {
        a {
          cursor: pointer;
          padding-right: 20px;
        }
      }

    }
  }




  h1 {
    @include fontDetails('Aileron', 28px, $dark-blue);
    @include fontSize(bold, 41.25px);

    @media #{$mobile-only} {
      @include fontDetails('Aileron', 20px, $dark-blue);
      @include fontSize(bold, 35.25px);
      padding-top: 5%;
    }
  }

  p {
    @include fontDetails('Open Sans', 23px, $dark-blue);
    @include fontSize(normal, 17px);

  }
}
